/* ------------------ Página de Projeto ------------------ */
.projeto {
  padding: 2rem 0;
  
}

.projeto h1 {
  text-align: start;
  color: #ffffff;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.projeto-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(253, 190, 0, 0.7);
}

.projeto-text {
  padding-right: 1rem;
}

.projeto-text h4 {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.projeto-text p {
  line-height: 1.7;
  color: #cac3c3;
  margin-bottom: 1rem;
  text-align: justify;
}

.projeto-image {
  width: 100%;
}

.projeto-image img {
  width: 100%;
  height: auto;
  clip-path: polygon(50% 0%, 100% 38%, 82% 80%, 18% 80%, 0% 38%);
  object-fit: cover;
  transition: transform 0.3s ease;
}

.projeto-image img:hover {
  transform: scale(1.02);
}

/* Responsivo - Mobile */
@media (max-width: 768px) {
  .projeto-content {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .projeto h1 {
    font-size: 1.8rem;
  }

  .projeto-text {
    padding-right: 0;
  }

  .projeto-text p {
    text-align: left;
  }
}
